.select_buttonnn input[type='radio'] {
  display: none;
}

.select_buttonnn input[type='radio']:checked + span {
  background-color: #da0b4e;
  color: white;
}

.larger-log-wrap {
  width: 500px;
}

.center-align {
  align-content: center;
}

.fixed-pos {
  position: fixed;
  height: 100%;
}

.tabs {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* css for tabs */
.tabs .tab-header {
  height: auto;
  display: flex;
  align-items: center;
}

.tabs .tab-header > div {
  width: calc(100% / 3);
  text-align: center;
  color: #888;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
}

.tabs .tab-header > div > i {
  display: block;
}

.tabs .tab-header > div.active {
  color: #da0b4e;
}

.tabs .tab-indicator {
  position: relative;
  width: calc(100% / 3);
  height: 5px;
  background: #da0b4e;
  margin-top: 10px;
  left: 0px;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

.tabs .tab-body {
  position: relative;
  height: calc(100%);
}

.tabs .tab-body > div {
  position: relative;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}

.tabs .tab-body > div.active {
  top: 0px;
  opacity: 1;
  transform: scale(1);
}

/* css for sidebar */
@media only screen and (min-width: 768px) {
  .dashboard-navbar,
  .dashboard-wraper {
    position: fixed;
    height: 100%;
    width: 25%;
    z-index: 1;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
  }
}

.brand img {
  width: 140px;
}

/* css for scrollbar */
::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-thumb {
  background-color: #da0b4e;
}

::-webkit-scrollbar-thumb {
  background-color: #da0b4e;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #da0b4e;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* css buttons inside assignments */
.ass-buttons {
  display: flex;
}

.ass-buttons a {
  border-radius: 0.3rem;
  margin-right: 10px;
  margin-bottom: 5px;
}

/* style for profile img */
.edu_cat_icons img{
    max-width: 80px;
    height: 80px;
    border-radius: 100%;
}

/* css for assignments hover effect */
.ass_hover_effect {
  border-left: 2px solid #da0b4e;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.ass_hover_effect:hover {
  border-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 4px solid #da0b4e;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@keyframes example {
  0% {
    border-left: 2px solid #ffffff;
  }

  25% {
    border-left: 3px solid #ffe6e6;
  }

  50% {
    border-left: 4px solid #ff8080;
  }

  100% {
    border-left: 5px solid #da0b4e;
  }
}

/* /css for assignments hover effect */
/* css for popup */
.popupform {
  border-radius: 10px;
}

.popupbtn {
  border-radius: 5px;
}

.popuptarea {
  border-radius: 5px;
}

.choose_file label {
  display: block;
  border: 0.5px solid #a8bbbf;
  border-radius: 10px;
  padding: 10px;
  width: calc(100% - 10px);
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.choose_file #choose_file {
  outline: none;
  opacity: 0;
  width: 0;
}

.choose_file span {
  font-size: 14px;
  color: #888;
}

.choose_file label:hover span {
  color: #da0b4e;
}

.removeStuff {
  margin-top: 0;
  border-top: 0;
  padding-top: 0;
}

.lectureControl {
  float: right;
}

#Create-Assignment{
  position:relative;
  Left:90%;
  margin-top:-2%;
}

.inputfile {
	position: absolute;
}

.inputfile + label {
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: black;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
